colorama==0.4.6
matplotlib==3.10.1
nibabel==5.3.2
numpy==2.2.4
opencv_python==4.11.0.86
pandas==2.2.3
Pillow==11.1.0
scipy==1.15.2
torch==2.6.0+cu124
torchvision==0.21.0+cu124
tqdm==4.67.1
